// _fonts.scss
// =================

/* ====================================================================================================================
 * FONT-STYLES
 * ====================================================================================================================*/

body  {
	font: normal 100% $monty;
}

header {
    h1 {
        font: bold 100% $header-font;
        font-size: 1.5em;
        color: white;
    }
    .main-navigation {
        font-weight: normal;
    }
}

a {
	-moz-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	-webkit-transition: color 0.3s linear;
	transition: color 0.3s linear;
	color: white;
	text-decoration: none;
}

a:hover {
	color: red;
}

.btn-project {
    margin: 1em 0 0;
    padding: 0 10px 0 10px;
    line-height: 2.3em;
    font-size: 1em;
    text-align: center;
    color: #ffff;
    background: #B6523F;
    border: 0;
    border-radius: .3em;
    box-shadow: 0 0.125em 0 hsla(0,0%,0%,0.05);
    -webkit-transition-property: color,background,border-color,margin-top;
    -moz-transition-property: color,background,border-color,margin-top;
    -o-transition-property: color,background,border-color,margin-top;
    transition-property: color,background,border-color,margin-top;
}




