// _fonts.scss
// =================

/* ====================================================================================================================
 * FONT-STYLES
 * ====================================================================================================================*/

body  {
    font: normal 100% $body-font;
    a:hover {
        color: $seafoam;
    }
    a:active {
        color: $seafoam;
    }
    a:focus {
        color: $seafoam;
    }
}

.main-content {
    p{
        font-size: 130%;
    }
    ul,
    ol {
        font-size: 100%;
    }
}

header {
    h1 {
        font: normal 100% $varela;
        font-size: 1.5em;
        color: white;
        letter-spacing: 3px;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }
    .main-navigation {
        font: normal 100% $varela;
        letter-spacing: 3px;
    }
}

a {
	-moz-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	-webkit-transition: color 0.3s linear;
	transition: color 0.3s linear;
	color: white;
	text-decoration: none;
}

.title {
    font-size: 2.2em;
    font-weight: bold;
    margin: 0 0 5px 0;
    text-align: center; 
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.smalltitle {
     font-size: 1.2em;
     font-weight: bold;           
}

.btn-project {
    margin: 1em 0 0;
    padding: 5px 10px;
    line-height: 2.3em;
    font-size: 1em;
    text-align: center;
    color: #ffff;
    background: #B6523F;
    border: 0;
    border-radius: .3em;
    box-shadow: 0 0.125em 0 hsla(0,0%,0%,0.05);
    -webkit-transition-property: color,background,border-color,margin-top;
    -moz-transition-property: color,background,border-color,margin-top;
    -o-transition-property: color,background,border-color,margin-top;
    transition-property: color,background,border-color,margin-top;
}




