// _fonts.scss
// =================

/* ====================================================================================================================
 * FONT-STYLES
 * ====================================================================================================================*/

body {
	font: normal 100% $lato;
}

h1,
h2,
h3,
h4 {
	font: bold 1.5em $monty;
}

header{
		h1, h2 {
		font: bold 100% $header-font;
		}
}

a {
	-moz-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	-webkit-transition: color 0.3s linear;
	transition: color 0.3s linear;
	color: #D53232;
	text-decoration: none;
}

a:hover,
a:focus,
a:visited {
	color: #B52A2A;
}


