// _variables.scss
// =================

//FONTS
@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato);



$header-font : 'Nunito', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$body-font   : 'Roboto', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$monty       : 'Montserrat', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$lato        : 'Lato', Arial, 'Helvetica Neue', Helvetica, sans-serif;



// Colours
$seafoam  		  : #90d5bf;
$background-grey  : #bfc0bf;
$slider-bottom    : #282828;

// Breakpoints
$large: 960px;
$medium: 600px;
$small: 480px;

// Media Query Variable
$desktop-up: "only screen and (max-width: 700px)";
$tablet-up: "only screen and (max-width: 400px)";



//		@media #{$tablet-up} {
 // 	background-color: blue;
//		}






