// _variables.scss
// =================

@import "http://fonts.googleapis.com/css?family=Patua+One|Inika";
 
$beige         : #E3C691;
$darkGreenGold : #8D8862;
$lightGreen    : #C0DC99;
$green         : #507356;
$lightBlue     : #97D5D9;
$desatBlue     : #464B65;
$purple        : #3E2B3D;
$darkPurple    : #3A3248;
$pink          : #CC8E94;
$skin          : #B08B7B;
 
$headFont : 'Patua One', sans-serif;
$bodyFont : 'Inika', serif;


// Colours
$brand-pink: #EBD8E1;
$brand-light-pink: lighten($brand-pink, 8%);
$brand-purple: #9D94BD;
$brand-green: #48BAA2;
$link-color: #2323FF;

// Breakpoints
$large: 960px;
$medium: 600px;
$small: 480px;

// Media Query Variable
$desktop-down: "only screen and (max-width: 960px)";
$tablet-down: "only screen and (max-width: 600px)";
