// _main.scss
// =================

@import "_reset";
@import "_variables";
@import "_flexslider";
@import "_fonts";
@import "_fontello";
@import "_css3-mixins";
@import "_align";

/* ====================================================================================================================
 * GLOBAL STYLES
 * ====================================================================================================================*/

 body {
 	background-color: rgba(0,0,0,0.1);
 }

 /* ====================================================================================================================
 * HEADER STYLES
 * ====================================================================================================================*/

 header {
 	background-color: #303435;
 	box-shadow: 2px 5px 10px #888888;
 	text-align: center;
 	padding: 60px 0 10px 0;
		h1 {
 			font-size: 10vw;
		}
 		h2 {
 			font-size: 5vw;
 			margin-top: -15px;
 			
 		}
 }

.main-navigation {
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	width: 100%;
	padding: 15px 1% 15px 3%;
	background: #B6523F;
	border-bottom: 1px solid #303435;
	box-shadow: 0.1px 0.1px 10px black;

		a {
		   font-weight: bold;
		   letter-spacing: 3px;
		   padding: 5px;
		}
		ul {
			display: flex;
			aign-items: center;
		}
		li {
			flex: 2;
		}
		.menu-text {
			font-size: 1.2em;
		}
		.social {
			flex: 1;
		}
}

@media #{$phone-down} {
.main-navigation {
	padding: 7px 1% 3px 3%;
	background: $seafoam;
		a {
		   font-weight: bold;
		   letter-spacing: 3px;
		   padding: 10px;
		}
		ul {
			flex-wrap: wrap;
		}
		li {
			flex: 1 1 33.3333333;
		}
		.menu-text {
			font-size: 1.2em;
		}
		.social {
			flex: 1 1 25%;
			padding: 5px 0 7px 15px;
			font-size: 1.2em;
		}

	}
	header {
 		padding: 55px 2% 2% 2%;
			h1 {
 				font-size: 13vw;
 			}
 			h2 {
 				font-size: 5vw;
 				margin-top: -15px;
 				text-align: center;
 			}
 	}
}
/* ====================================================================================================================
 * MAIN CONTENT STYLES
 * ====================================================================================================================*/

.main-content {
	padding: 25px 2% 10px 2%;
		h2{
			font-size: 1.9em;
			margin: 0 0 5px 5px;
			text-align: center;
		
		}
		h3{
			font-size: 1.2em;
			font-weight: normal;
			margin: 0 0 10px 5px;
			text-align: center;
			}
}

.work {
	padding: 0px 2% 1px 2%;
	margin-bottom: 10px;
	box-shadow: 2px 5px 10px #888888;
}

.project-header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 5px;
		button {
			border-radius: 10px;


		}
}

 /* ====================================================================================================================
 * FOOTER STYLES
 * ====================================================================================================================*/










