// _main.scss
// =================

@import "_reset";
@import "_variables";
@import "_flexslider";
@import "_fonts";
@import "_fontello";
@import "_css3-mixins";
@import "_align";

 /* ====================================================================================================================
 * GLOBAL STYLES
 * ====================================================================================================================*/

 body {
 	background-color: rgba(0,0,0,0.1);
 }
 
 @media #{$phone-up} {
	.work-wrapper {
		.title {
			margin: 15px 0 25px 0;
		}
	}

}

@media #{$eight-up} {
	.main-content {
		margin: 0 5% 40px 5%;
	}
 }	

 @media #{$max-width} {
 	.main-content {
 		max-width: 1100px;
 		margin-left: auto;
 		margin-right: auto;
 	}
}


/* ====================================================================================================================
 * HEADER STYLES
 * ====================================================================================================================*/

header {
 	background-color: $header-grey;
 	box-shadow: 2px 5px 10px #888888;
 	text-align: center;
 	padding: 50px 0 10px 0;
 	height: 180px;
		h1 {
 			font-size: 2.0em;
 			margin-bottom: -10px;
		}
 		.sub-title {
 			font-size: 1.2em;
 			font-weight: normal;
 			margin-bottom: 10px;
 		}
 }		

.main-navigation {
	position: fixed;
	z-index: 500;
	top: 0;
	left: 0;
	width: 100%;
	background: $orangy;
	border-bottom: 1px solid #303435;
	box-shadow: 0.1px 0.1px 10px black;
		ul {
			display: flex;
			align-items: baseline;
			flex-wrap: wrap;
		}
		.menu-text {
			flex: 1 1 33.33333%;
			line-height: 2.5em;
		}
}

.social-nav {	
	ul {
		display: flex;
	}
	.social {
		flex: 1 1 25%;
		font-size: 2.0em;
	}
}

/***** Media Queries for header *****/

@media #{$phone-up} {
	header {
		height: 200px;
 		padding: 60px 0 10px 0;
 			h1 {
 				font-size: 2.5em;
 				margin-bottom: -12px;
			}
 			.sub-title {
 				font-size: 1.6em;
 				font-weight: normal;
 				margin-bottom: 10px;
 			}
 			.menu-text {
				font-size: 1.3em;
		}
 }		
.social-nav {	
		.social {
			font-size: 2.0em;
			line-height: 1,8em;
			margin: 6px 0;
		}

	}
}

@media #{$eight-up} {
header {
 	padding: 70px 0 10px 0;
 	height: 280px;
		h1 {
 			font-size: 4.0em;
 			margin-bottom: -10px;
		}
 		.sub-title {
 			font-size: 2.2em;
 			font-weight: normal;
 			margin-bottom: 10px;
 		}
 		.menu-text {
				font-size: 1.6em;
		}
 }	

.social-nav {	
	ul {
		display: flex;
	}
	.social {
		flex: 1 1 25%;
		font-size: 2.7em;
		}

	}
}

/* ====================================================================================================================
 * MAIN CONTENT STYLES
 * ====================================================================================================================*/
 
 .main-content {
 	padding: 10px 2% 10px 2%;
 }

.work {
	padding: 0px 2% 1px 2%;
	margin-bottom: 20px;
	box-shadow: 2px 5px 10px #888888;
	background-color: rgba(0,0,0,0.05);
}

.slider-header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 5px;
		h3 {
			flex: 2;
		}
		.btn-project {
		    flex: 1.2;
	}	
}

@media #{$phone-up} {
	.main-content {
 		padding: 15px 2% 10px 2%;
 	}
	.slider-header {
		.smalltitle {
			flex: 3;
			font-size: 180%
		}
		.btn-project {
		    flex: 1.2;
		    font-size: 130%;
		}
	}
}

@media #{$eight-up} {
	.secondary-slider {
		display: flex;
			.slider-header {
				.smalltitle {
					flex: 1 1 60%;
					font-size: 120%
		}
		.btn-project {
		    flex: 1 1 40%;
		    font-size: 100%;
		}
	}



	}

}


 /* ====================================================================================================================
 * VIEW PROJECT PAGE
 * ====================================================================================================================*/

.project-wrapper {
	padding: 10px 2%;
			h2 {
			font-size: 2.0em;
			margin-top: 20px;
			text-align: left;
		}
		p {
			margin-top: 15px;
			font-size: 1.3em;
		}
		.technical-elements {
			font-size: 1.2em;
			margin-top: 15px;
		}
		.technical-elements li {
			background-color: rgba(0,0,0,0.1);
			padding: 10px;
			border-bottom: 1px solid rgba(0,0,0,0.5);
		}
		li:last-child {
			border-bottom: none;
		}
}

.project-header {
	position: relative;
		.computer {
			position: relative; 
			z-index: 10;
			left: -5px;
		}
		.phone {
			position: absolute;
			z-index: 100;
			bottom: 0;
			left: 5%;
			width: 15%
		}
		.tablet {
			position: absolute; 
			z-index: 50;
			right: 4%;
			bottom: 0;
			width: 35%;
		}
}

.details-header {
		.btn-project {
			font-size: 1.3em;
			padding: 9px 15px;
		}
		h2 {
			margin-bottom: 10px;
		}
}

.project-navigation {
		display: flex;
		justify-content: space-between;
		margin-top: 15px;
			a {
				color: black;
				font-size: 1.25em;
			}
			.btn-left {
				margin-left: -8px;
			}
			.btn-right {
				margin-right: -8px;
			}
}

.btn-left:after {
	content: "last project";
}

.btn-right:before {
	content: "next project";
}

@media #{$six-sixty} {
	
.project-header {
		.computer {
			left: 3%;
		}
		.phone {
			left: 5%;
			width: 100px;
		}
		.tablet {
			right: 1%;
			width: 200px;
		}
	}
}

@media #{$eight-up} {
	.project-header {
		margin-top: 20px;
		.computer {
			left: 9%;
		}
		.phone {
			left: 3%;
			width: 100px;
		}
		.tablet {
			right: -3%;
			width: 200px;
		}
	}
}

@media #{$one-thousand} {
	.project-header {
		.computer {
			left: 3%;
		}
		.phone {
			left: 83%;
			width: 100px;
		}
		.tablet {
			right: 20%;
			width: 200px;
		}
	}
}

@media #{$thirteen-thirty} {
	.project-header {
		position: static;
		margin-left: 6%;
		.computer {
			position: static;
		}
		.phone {
			position: static;
		}
		.tablet {
			position: static;
		}
	}
}


 /* ====================================================================================================================
 * 	BLOG PAGE
 * ====================================================================================================================*/

.blog {
	margin: 0 2%;
		.blog-post {
			display: flex;
			flex-direction: column;	
			align-items: center;
		}
}

.blog-left:after {
	content: "LAST POST";
}

.blog-right:before {
	content: "NEXT POST";
}

.image-series {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
		figure {
			margin-bottom: 10px;
		}
		p {
			margin: 5px 0 15px 0;
		}
}

.blog-post {
	figure {
		margin-bottom: 5px;
	}
	h3 {
		margin-bottom: 5px;
		color: black;
	}
	p {
		font-weight: light;
	}
}

@media #{$six-sixty} {
	
	.blog-wrapper {
		margin: 0 20%;
	}

}

@media #{$eight-up} {
	
	.blog-wrapper {
		margin: 0 34%;
	}

}

/* ====================================================================================================================
* 	ABOUT PAGE
* ==================================================================================================================== */

.about-content {
	margin: 10px 2% 0 2%;
		h3 {
			margin: 10px 0 5px 0;
			border-bottom: 2px solid black;
		}
		ul {
			font-weight: bold;
			margin: 10px 0 10px 0;
		}
		.child-list {
			font-weight: normal;
			list-style-type: circle;
			margin: 5px 0 5px 40px;
		}
		.btn-project {
			width: 50%;
			float: left;
		}
	}

@media #{$eight-up} {
	.about {
	 img {
		float: left;
		width: 38%;
		margin: 20px 10px 0 0;
	}
	.about-content {
		float: left;
		width: 55%;
		padding-top: 20px;
	}
	.btn-project {
		width: 75%;
		float: left;
	}

}

}

@media #{$one-thousand} {
	.about img {
		width: 34%;
	}
	.about-content {
		float: left;
		width: 59%;
		padding-top: 20px;
	}

}

