// _main.scss
// =================

@import "_reset";
@import "_variables";
@import "_flexslider";
@import "_fonts";
@import "_fontello";
@import "_css3-mixins";

/* ====================================================================================================================
 * GLOBAL STYLES
 * ====================================================================================================================*/

 body {
 	background-color: $background-grey;
 }

 /* ====================================================================================================================
 * HEADER STYLES
 * ====================================================================================================================*/

 header {
 	background-color: $seafoam;
 	padding: 2%;

 	h1 {
 		font-size: 13vw;
 	}
 	h2 {
 		font-size: 5vw;
 		margin-top: -15px;
 		text-align: center;
 		
 		}
}

.main-navigation {
	ul {
	display: flex;
	}
	li {
	flex: 3;
	}
	.social {
	flex: 1;
	}



}


.main-navigation .social {
	flex: 1;
}



 



 /* ====================================================================================================================
 * MAIN CONTENT STYLES
 * ====================================================================================================================*/

 /* ====================================================================================================================
 * FOOTER STYLES
 * ====================================================================================================================*/










